/* * import fonts from donsts file * */
@import url(./fonts.css);

/* * css variables * */
@import url(./partials/_variables.css);

/* ! start navegation ! */
.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 10rem;
}

.header_area .main-menu .nav-item .nav-link {
  font-family: var(--roboto);
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: black;
}

.header_area .main-menu .nav-item .nav-link:hover {
  color: #4458dc;

  transition: 400ms;
}

/* : end navegation : */
