.container {
  max-width: 960px;
  
}

.principal-page {
  background-image: url('https://github.com/Lucas-Henrique-Lopes-Costa/Loja-italo/blob/9d4a2d40b2dfa46e8ab306236b6c966a43447735/assets/Fundo6.jpg');
  background-size: 320px; 
  background-repeat: no-repeat;
  background-position: center;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
  text-decoration: none;
  
}
.site-header a:hover {
  color: #fff;
  text-decoration: underline;
  
}

.iniciante {
  background-image: url('https://github.com/Lucas-Henrique-Lopes-Costa/Loja-italo/blob/main/assets/iniciante.jpg');
  background-size: 550px;
  background-position: center;
  background-repeat: no-repeat;
}

.profissional {
  background-image: url('https://github.com/Lucas-Henrique-Lopes-Costa/Loja-italo/blob/main/assets/profissional.jpg');
  background-size: 573px;
  background-position: center;
  background-repeat: no-repeat;
}

.diferença {
  background-image: url('https://github.com/Lucas-Henrique-Lopes-Costa/Loja-italo/blob/main/assets/diferen%C3%A7a.jpg');
  background-size: 698px;
  background-position: center;
  background-repeat: no-repeat;
}

.elite {
  background-image: url('https://github.com/Lucas-Henrique-Lopes-Costa/Loja-italo/blob/main/assets/elite.jpg');
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: center;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
